/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    /* background-color: #f7f7f7; */
}

/* Main */
main {
    padding: 20px;
    margin-top: 6rem; /* Adjust this value based on the header height */
}

section {
    max-width: 1200px;
    margin: auto;
}

h1 {
    color: #ff5a3c;
    margin-bottom: 1rem;
}

.faq-item {
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.faq-item h3 {
    color: #42474a;
    margin-bottom: 0.5rem;
}

.faq-item p {
    color: #42474a;
    line-height: 1.6;
}

.faq-item a {
    color: #ff5a3c;
    text-decoration: none;
}

.faq-item a:hover {
    text-decoration: underline;
}