body {
   padding: 10px 10px;
   font-family: Arial, Helvetica, sans-serif;
   font-family: Arial, sans-serif;

}

header {
    text-align: center;
     background-color: #e0e0e0;
}

.navbar {

    background-color:#42474a;
}

.moto{
    color: #42474a;
}

.headerText {
    color: #42474a;

}

.navTable {

    width: 100%; 
    text-align: center;

}

.showSection {
    display: flex;

}

.description{

    color: #42474a; 
    width: 60%;
    background-color: #e0e0e0;
}


.descriptionP{
    font-family: Courier, monospace;


}

.specialSection {

    width: 35%; 
    background-color: #f0f0f0;

    
}

.OffersText{

    color: red;
     text-align: center;
}

.flightsOnSpecial {
    width: 100%;

  
}

.specialBtns{
    text-align: center;

}

.viewFlightBtn {

    background-color: #42474a;
    text-decoration: ;
    color: white;
}

