*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
   padding: 10px 10px;
   font-family: Arial, Helvetica, sans-serif;
   font-family: Arial, sans-serif;

}

header {
    text-align: center;
     background-color: #e0e0e0;
     max-width: 1300px;
}

.navbar {
 position: sticky;
display: flex;
 align-items: center;
 justify-content: center;
 background-color:#42474a;
}

.moto{
    color: #42474a;
}

.headerText {
    color: #42474a;

}

.navTable {

    width: 100%; 
    text-align: center;

}

.showSection {
    display: grid;
    margin: 10%;
    display: flex;
    max-width: 900px;


}

.description{
    margin : 10px 10px 10px 10px ;
    padding: 20px ;
    width: 50%;
    color: #42474a; 
    width: 60%;
    background-color: #e0e0e0;
}


.descriptionP{
    font-family: Courier, monospace;


}
.navLink{
    text-decoration: none;
}
.specialSection {

    width: 50%; 
    background-color: #f0f0f0;
    margin : 10px 10px 10px 10px ;
    padding: 10px;
    
}

.OffersText{

    color: red;
     text-align: center;
}

.flightsOnSpecial {
    width: 100%;

  
}

.specialBtns{
    margin: 20px;
    text-align: center;

}

.viewFlightBtn{
    color: white;
    background-color: #42474a;
   
}
.findFlightBtn{
    color: white;
    background-color: #42474a;
   
}

.userExperience{

    text-align: center;
}

.footer {
    text-align: center;
     background-color: #e0e0e0;
}